body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    text-align: center;
    margin: 0;
}

h1 {
    margin: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
}

/* GRID */
#grid {
    display: grid;
    grid-template-columns: repeat(18, 35px);
    grid-template-rows: repeat(18, 35px);
    width: 630px;
    height: 630px;
}

/* Every position is now same wrapper */
.grid-cell {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
}

/* Playable */
.cell {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

/* Invisible */
.zero-cell {
    background: #e0e0e0;
}


/* Black */
.black-cell {
    background: black;
}

/* Clues */
.clues {
    width: 400px;
    height: 630px;
    overflow-y: auto;
    text-align: left;
}

/* Buttons */
.controls {
    margin-top: 20px;
}

button {
    padding: 8px 16px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
